  body {

    margin: 0;
  }

  .hidden {
    display: none;
  }

  .welcome-container {
    color:#ffffff;
    font-size: x-large;    
}


.welcome-title {
  color:#ffffff;
  font-size: x-large; 
}

  
  @keyframes gradient {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
  
  .typewriter {
    overflow: hidden; /* Ensures the content is hidden until animated */
    border-right: 0.15em solid orange; /* Creates the typewriter cursor */
    white-space: pre; /* Preserves whitespace, including line breaks */
    letter-spacing: 0.09em; /* Adjusts the spacing between letters */
    animation: typing 10s steps(40, end), blink-caret 0.75s step-end 1;
  }

  /* Keyframe animation for typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    0% {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
    100% {
      border-color: transparent;
    }
  }

  .navigation {
    right: 20px;
    background-color: transparent; /* Set the background color to transparent */
    margin-top: auto;
    position: fixed;
    /* display: none; Initially hide the navigation menu */
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #ffffff;
  }

  .wrapper {
    background-color: #FDC9BA;
    height: 100vh;
    flex-direction: column;
    display: none
    /* display: flex; */
  }
  
  .main-content {
    flex-grow: 1;
    overflow: auto;
  }
  
    .welcome-body {
    background: linear-gradient(135deg, #ff4b1f, #1fddff, #ff1fdd, #1fff4b, #ddff1f, #4b1fff);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

 